.CreditCardPage {
  background: #e3f2fd;
  display: flex;
  justify-content: space-between;
    /* align-items: flex-start; */
      height: 100%;
  overflow-y: auto;
}

.left-column {
  flex: 0.4;
  margin: 0;
  padding: 0;
  min-width: 250px;
}

.right-column {
  flex: 1.6;
}

.top {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.middle {
  display: flex;
  justify-content: space-between;
    align-items: center;
  padding-bottom: 40px;
  margin-top: 0;
}
.credit-card {
  margin: 20000px;
}
.card-display {
  flex: 1.5;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow-btn {
  margin-top: 20px;
  height: 50px;
  width: 137px;
  border-radius: 28px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.credit-card-button-list {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  /* margin-top: 180px; */
    margin-bottom: 20px;
}


.bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bottom-left {
  flex: 1.5;
}

.bottom-right {
  flex: 0.3;
}
