.App {
  background: #e3f2fd;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.left-column {
  flex: 0.4;
  margin: 0;
  padding: 0;
}

.right-column {
  flex: 1.6;
}
.top {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.middle {
  display: flex;
  justify-content: space-between;
    padding: 40px;
}

.card-display {
  flex: 1.5;
}

.button-list {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.button-list .ActionButton {
  margin-bottom: 20px;
}
.bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
}
